<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241128</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleThunderboltNHI</string>
	<key>CFBundleGetInfoString</key>
	<string>AppleThunderboltNHI version 7.2.8, Copyright © 2009-2020 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleThunderboltNHI</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleThunderboltNHI</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>7.2.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>7.2.8</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21D41</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.2</string>
	<key>DTSDKBuild</key>
	<string>21D41</string>
	<key>DTSDKName</key>
	<string>macosx12.2.internal</string>
	<key>DTXcode</key>
	<string>1300</string>
	<key>DTXcodeBuild</key>
	<string>13A191</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleThunderboltNHI_t8103</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleThunderboltNHI</string>
			<key>IOClass</key>
			<string>AppleThunderboltHALType5</string>
			<key>IONameMatch</key>
			<string>acio</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
	</dict>
	<key>IOKitPersonalities_x86_64</key>
	<dict>
		<key>AppleThunderboltNHI,PCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleThunderboltNHI</string>
			<key>IOClass</key>
			<string>AppleThunderboltHAL</string>
			<key>IOPCIClassMatch</key>
			<string>0x08800000&amp;0xffff0000</string>
			<key>IOPCIMatch</key>
			<string>0x15008086&amp;0xff00ffff</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>AppleThunderboltNHI,PCI2</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleThunderboltNHI</string>
			<key>IOClass</key>
			<string>AppleThunderboltHALType4</string>
			<key>IOPCIClassMatch</key>
			<string>0x08800000&amp;0xffff0000</string>
			<key>IOPCIMatch</key>
			<string>0x8A008086&amp;0xff00ffff</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>12.2</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleGPIOICController</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOAccessoryManager</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.iokit.IOThunderboltFamily</key>
		<string>1.0.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>9.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.private</key>
		<string>16.5.0</string>
	</dict>
	<key>OSBundleLibraries_x86_64</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.iokit.IOThunderboltFamily</key>
		<string>1.0.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>9.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.private</key>
		<string>16.5.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
